### OpenCart template
.htaccess
.idea
#/config.php
#admin/config.php

!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/

system/storage/

/image/catalog/demo/
/image/catalog/cat/*
/image/catalog/product/*
catalog/view/theme/basecart/gulp/node_modules/*
/exclude-list.txt
/fromServer.sh
/toServer.sh
/catalog/view/theme/basecart/gulp/node_modules/
