.fll, .fl {   float: left;  }
.flr, .fr {   float: right; }

.mr0    { margin-right: 0px;  }
.mr5    { margin-right: 5px;  }
.mr10   { margin-right: 10px; }
.mr15   { margin-right: 15px; }
.mr20   { margin-right: 20px; }
.mr25   { margin-right: 25px; }
.mr30   { margin-right: 30px; }
.mr35   { margin-right: 35px; }
.mr40   { margin-right: 40px; }
.mr45   { margin-right: 45px; }
.mr50   { margin-right: 50px; }
.mr55   { margin-right: 55px; }
.mr60   { margin-right: 60px; }
.mr65   { margin-right: 65px; }
.mr70   { margin-right: 70px; }
.mr75   { margin-right: 75px; }
.mr80   { margin-right: 80px; }
.mr85   { margin-right: 85px; }
.mr90   { margin-right: 90px; }
.mr95   { margin-right: 95px; }
.mr100 { margin-right: 100px;}

.mr1rem { margin-right: 1rem;}
.mr2rem { margin-right: 2rem;}
.mr3rem { margin-right: 3rem;}
.mr4rem { margin-right: 4rem;}



.ml5     { margin-left: 5px;  }
.ml10   { margin-left: 10px; }
.ml15   { margin-left: 15px; }
.ml20   { margin-left: 20px; }
.ml25   { margin-left: 25px; }
.ml30   { margin-left: 30px; }
.ml35   { margin-left: 35px; }
.ml40   { margin-left: 40px; }
.ml45   { margin-left: 45px; }
.ml50   { margin-left: 50px; }
.ml55   { margin-left: 55px; }
.ml60   { margin-left: 60px; }
.ml65   { margin-left: 65px; }
.ml70   { margin-left: 70px; }
.ml75   { margin-left: 75px; }
.ml80   { margin-left: 80px; }
.ml85   { margin-left: 85px; }
.ml90   { margin-left: 90px; }
.ml95   { margin-left: 95px; }
.ml100 { margin-left: 100px;}

.ml1rem { margin-left: 1rem;}
.ml2rem { margin-left: 2rem;}
.ml3rem { margin-left: 3rem;}
.ml4rem { margin-left: 4rem;}



.mt0    { margin-top: 0px;  }
.mt1    { margin-top: 1px;  }
.mt2    { margin-top: 2px;  }
.mt3    { margin-top: 3px;  }
.mt4    { margin-top: 4px;  }
.mt5    { margin-top: 5px;  }
.mt10   { margin-top: 10px; }
.mt15   { margin-top: 15px; }
.mt20   { margin-top: 20px; }
.mt25   { margin-top: 25px; }
.mt30   { margin-top: 30px; }
.mt35   { margin-top: 35px; }
.mt40   { margin-top: 40px; }
.mt45   { margin-top: 45px; }
.mt50   { margin-top: 50px; }
.mt55   { margin-top: 55px; }
.mt60   { margin-top: 60px; }
.mt65   { margin-top: 65px; }
.mt70   { margin-top: 70px; }
.mt75   { margin-top: 75px; }
.mt80   { margin-top: 80px; }
.mt85   { margin-top: 85px; }
.mt90   { margin-top: 90px; }
.mt95   { margin-top: 95px; }
.mt100 { margin-top: 100px;}

.mt1rem { margin-top: 1rem;}
.mt2rem { margin-top: 2rem;}
.mt3rem { margin-top: 3rem;}
.mt4rem { margin-top: 4rem;}



.mb0    { margin-bottom: 0px; }
.mb5    { margin-bottom: 5px; }
.mb10   { margin-bottom: 10px; }
.mb15   { margin-bottom: 15px; }
.mb20   { margin-bottom: 20px; }
.mb25   { margin-bottom: 25px; }
.mb30   { margin-bottom: 30px; }
.mb35   { margin-bottom: 35px; }
.mb40   { margin-bottom: 40px; }
.mb45   { margin-bottom: 45px; }
.mb50   { margin-bottom: 50px; }
.mb55   { margin-bottom: 55px; }
.mb60   { margin-bottom: 60px; }
.mb65   { margin-bottom: 65px; }
.mb70   { margin-bottom: 70px; }
.mb75   { margin-bottom: 75px; }
.mb80   { margin-bottom: 80px; }
.mb85   { margin-bottom: 85px; }
.mb90   { margin-bottom: 90px; }
.mb95   { margin-bottom: 95px; }
.mb100 { margin-bottom: 100px;}

.mb1rem { margin-bottom: 1rem;}
.mb2rem { margin-bottom: 2rem;}
.mb3rem { margin-bottom: 3rem;}
.mb4rem { margin-bottom: 4rem;}



.pb0    { padding-bottom: 0px; }
.pb5    { padding-bottom: 5px; }
.pb10   { padding-bottom: 10px; }
.pb15   { padding-bottom: 15px; }
.pb20   { padding-bottom: 20px; }
.pb25   { padding-bottom: 25px; }
.pb30   { padding-bottom: 30px; }
.pb35   { padding-bottom: 35px; }
.pb40   { padding-bottom: 40px; }
.pb45   { padding-bottom: 45px; }
.pb50   { padding-bottom: 50px; }
.pb55   { padding-bottom: 55px; }
.pb60   { padding-bottom: 60px; }
.pb65   { padding-bottom: 65px; }
.pb70   { padding-bottom: 70px; }
.pb75   { padding-bottom: 75px; }
.pb80   { padding-bottom: 80px; }
.pb85   { padding-bottom: 85px; }
.pb90   { padding-bottom: 90px; }
.pb95   { padding-bottom: 95px; }
.pb100 { padding-bottom: 100px;}

.pb1rem { padding-bottom: 1rem;}
.pb2rem { padding-bottom: 2rem;}
.pb3rem { padding-bottom: 3rem;}
.pb4rem { padding-bottom: 4rem;}


.pt0    { padding-top: 0px; }
.pt5    { padding-top: 5px; }
.pt10   { padding-top: 10px; }
.pt15   { padding-top: 15px; }
.pt20   { padding-top: 20px; }
.pt25   { padding-top: 25px; }
.pt30   { padding-top: 30px; }
.pt35   { padding-top: 35px; }
.pt40   { padding-top: 40px; }
.pt45   { padding-top: 45px; }
.pt50   { padding-top: 50px; }
.pt55   { padding-top: 55px; }
.pt60   { padding-top: 60px; }
.pt65   { padding-top: 65px; }
.pt70   { padding-top: 70px; }
.pt75   { padding-top: 75px; }
.pt80   { padding-top: 80px; }
.pt85   { padding-top: 85px; }
.pt90   { padding-top: 90px; }
.pt95   { padding-top: 95px; }
.pt100 { padding-top: 100px;}

.pt1rem { padding-top: 1rem;}
.pt2rem { padding-top: 2rem;}
.pt3rem { padding-top: 3rem;}
.pt4rem { padding-top: 4rem;}

.pr5    { padding-right: 5px;  }
.pr10   { padding-right: 10px; }
.pr15   { padding-right: 15px; }
.pr20   { padding-right: 20px; }
.pr25   { padding-right: 25px; }
.pr30   { padding-right: 30px; }
.pr35   { padding-right: 35px; }
.pr40   { padding-right: 40px; }
.pr45   { padding-right: 45px; }
.pr50   { padding-right: 50px; }
.pr55   { padding-right: 55px; }
.pr60   { padding-right: 60px; }
.pr65   { padding-right: 65px; }
.pr70   { padding-right: 70px; }
.pr75   { padding-right: 75px; }
.pr80   { padding-right: 80px; }
.pr85   { padding-right: 85px; }
.pr90   { padding-right: 90px; }
.pr95   { padding-right: 95px; }
.pr100  { padding-right: 100px;}

.pr1rem { padding-right: 1rem;}
.pr2rem { padding-right: 2rem;}
.pr3rem { padding-right: 3rem;}
.pr4rem { padding-right: 4rem;}

.pl5    { padding-left: 5px;  }
.pl10   { padding-left: 10px; }
.pl15   { padding-left: 15px; }
.pl20   { padding-left: 20px; }
.pl25   { padding-left: 25px; }
.pl30   { padding-left: 30px; }
.pl35   { padding-left: 35px; }
.pl40   { padding-left: 40px; }
.pl45   { padding-left: 45px; }
.pl50   { padding-left: 50px; }
.pl55   { padding-left: 55px; }
.pl60   { padding-left: 60px; }
.pl65   { padding-left: 65px; }
.pl70   { padding-left: 70px; }
.pl75   { padding-left: 75px; }
.pl80   { padding-left: 80px; }
.pl85   { padding-left: 85px; }
.pl90   { padding-left: 90px; }
.pl95   { padding-left: 95px; }
.pl100  { padding-left: 100px;}

.pl1rem { padding-left: 1rem;}
.pl2rem { padding-left: 2rem;}
.pl3rem { padding-left: 3rem;}
.pl4rem { padding-left: 4rem;}


.p1rem { padding: 1rem;}
.p2rem { padding: 2rem;}
.p3rem { padding: 3rem;}
.p4rem { padding: 4rem;}



.tcenter, .center, .tc {text-align:center;}
.text-left, .tl { text-align: left !important; }
.text-right, .tr{ text-align: right !important; }


.fs10  { font-size:10px;  }
.fs11  { font-size:11px;  }
.fs12  { font-size:12px;  }
.fs13  { font-size:13px;  }
.fs14  { font-size:14px;  }
.fs15  { font-size:15px;  }
.fs16  { font-size:16px;  }
.fs17  { font-size:17px;  }
.fs18  { font-size:18px;  }
.fs19  { font-size:19px;  }
.fs20  { font-size:20px;  }
.fs21  { font-size:21px;  }
.fs22  { font-size:22px;  }

.fs100p  { font-size:100%;  }
.fs150p  { font-size:150%;  }
.fs200p  { font-size:200%;  }
.fs300p  { font-size:300%;  }
.fs400p  { font-size:400%;  }
.fs500p  { font-size:500%;  }
.fs600p  { font-size:600%;  }
.fs700p  { font-size:700%;  }
.fs800p  { font-size:800%;  }
.fs900p  { font-size:900%;  }
.fs1000p  { font-size:1000%;  }


.pr5   { padding-right: 5px;  }
.pr10   { padding-right: 10px; }
.pr15   { padding-right: 15px; }

.va-top td  {  vertical-align: top; }

.w100 {width:100%;}
.w90  {width:90%;}
.w80  {width:80%;}
.w70  {width:70%;}
.w60  {width:60%;}
.w50  {width:50%;}
.w40  {width:40%;}
.w30  {width:30%;}
.w20  {width:20%;}
.w10  {width:10%;}
.w5   {width:5%;}


.w45px  {width:45px;}
.w50px  {width:50px;}
.w100px {width:100px;}
.w150px {width:150px;}
.w200px {width:200px;}
.w250px {width:250px;}
.w300px {width:300px;}

.inline {display: inline !important;}
.ib {display: inline-block; }

ul.nop {padding: 0;}
ul.nom {margin: 0;}
ul.nob {list-style: none;}

ul.lic {
 padding: 0;
 margin: 0;
 list-style: none;

 li { margin: 0; }
}

.noPMargin {
   p{
     margin: 0;
   }
}


.hidden {display: none;}

.ww { word-wrap: break-word; }

.views-field-edit-node {
 a {
  color: green;
 }
}

.resp {
  img {
    width: 100%;
    height:auto;
  }
}